@media screen and (min-width: 600px) {
  /* CSS styles applied when the viewport width is 600px or more */
  body {
    background-color: lightblue;
  }
}

.container {
  max-width: 900px;
  margin: 30px auto;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0,0,0,0.08);
  padding: 30px 0;
}


.top{
  position: relative;
  padding: 40px 10px 10px 10px;
  margin-bottom: 20px;
  overflow: visible;
}
.top::before {
  content: "";
  position: absolute;
  top: 0; left: 0; right: 0;
  height: 350px;
  background: rgb(43, 30, 233);
  clip-path: polygon(0 0, 100% 0, 100% 70%, 0 100%);
  z-index: 0;
}

.head{
    display: flex;
    align-items: center;
    gap: none;
    margin: 20px;
     z-index: 1;
     position: relative;
}

img{
    width: 300px;
    height: 350px;
    border-radius: 3px;
    margin-left: 10px;
    object-fit: cover;
}

.about{
    background-color: rgb(240, 240, 240);
    padding: 20px;
    margin-top: -10px;
    margin-right: 30px;
    width: 400px;
    height: 200px;
    border-radius: 3px;
    box-shadow: 2px 2px 5px gray;
    display: flex;
  flex-wrap: wrap; 
  align-items: flex-start;
  justify-content: center;
  padding: 40px;
  
 
}

.main{
  display: flex;
  gap: 2rem;
  margin-bottom: 150px; 
  margin-left: 10px;
  margin-right: 10px;
}

.project {
  flex: 3;
  left: 5px;
}

.project h2 {
  margin-bottom: 10px;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}
.project-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.card{
  background-color: green;
  padding: 1rem;
  border-radius: 4px;
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.18);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
   background: linear-gradient(to bottom, teal 50%,white 50%);

}


.card-2{
   background-color: green;
  padding: 1rem;
  border-radius: 4px;
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.18);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: linear-gradient(to bottom, rgb(46, 236, 8) 50%,white 50%);
}
.card-3{
   background-color: green;
  padding: 1rem;
  border-radius: 4px;
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.18);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: linear-gradient(to bottom, rgb(231, 16, 124) 50%,white 50%);
}
.card-4{ background-color: green;
  padding: 1rem;
  border-radius: 4px;
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.18);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
 background: linear-gradient(to bottom, rgb(236, 53, 53) 50%,white 50%);}
  .card-5{
     background-color: green;
  padding: 1rem;
  border-radius: 4px;
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.18);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
 background: linear-gradient(to bottom, rgb(21, 5, 233) 50%,white 50%);}
.card-6{
   background-color: green;
  padding: 1rem;
  border-radius: 4px;
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.18);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
 background: linear-gradient(to bottom, rgb(25, 202, 233) 50%,white 50%);}

.icon {
  margin-top: 10px;
  font-size: 1.2rem;
  color: #666;
  display: flex;
  gap: 10px;
justify-content: flex-end;
}
.down{
    background-color: rgb(43, 30, 233);
    padding: 10px;
    margin-top: 20px;
    color: white;
  
   
}
.icon-2{
  display: flex;
  flex-direction: column; 
  gap: 10px;             
  align-items: flex-start; 
}
.icon-3{
  color: black;
}
.img2 img{
  margin-left: 350px;
  margin-top: -250px;
  width: 500px;
  height: 300px;

}
a{
  font-size: x-large;
}
h4{
  font-size: xx-large;
  font-weight: bolder;
}
.icon-top{
justify-content: flex-end;
display: flex;
gap: 10px;
margin-left: 200px;

}